<section class="dashboard-monitoring-section clearfix" id="attributes">
    <h2 class="section-title">{{"PATIENT_MONITORING_SCHEDULE_TOOL_TITLE" | titleTranslate}} </h2>
    <div class="patient-monitering-schedule-details clearfix">
        <ul>
            <li>{{"PATIENT_MONITORING_REGISTRATION_NUMBER" | titleTranslate }} : <span>{{treatmentRegNum}}</span></li>
            <li>{{"PATIENT_MONITORING_REPORT_DATE" | titleTranslate}}: <span>{{reportDate | bahmniDate}}</span></li>
            <li>{{"PATIENT_MONITORING_EMR_ID" | titleTranslate}}: <span>{{patientEMRID}}</span></li>
            <li>{{"PATIENT_MONITORING_START_DATE_OF_NEW_DRUG_TREATMENT" | titleTranslate }}: <span>{{drugStartDate | bahmniDate}}</span></li>
            <li>{{"PATIENT_MONITORING_START_DATE_OF_MDRTB_TREATMENT" | titleTranslate }}: <span>{{mdrtbTreatementStartDate | bahmniDate}}</span></li>
            <li>{{"PATIENT_MONITORING_ACTIVE_DRUG_REGIMEN" | titleTranslate }}: <span>{{activeTBRegimen}}</span></li>
            <li>{{"PATIENT_MONITORING_CURRENT_MONTH_OF_NEW_DRUG_TREATMENT" | titleTranslate }} : <span>{{currentMonthOfNewDrugTreatment | number : 1}}</span></li>
            <li>{{"PATIENT_MONITORING_CURRENT_MONTH_OF_MDRTB_TREATMENT" | titleTranslate }} : <span>{{currentMonthOfMDRTBTreatment | number : 1}}</span></li>
            <li>{{"PATIENT_MONITORING_CONSENT_FOR_ENDTB_STUDY" | titleTranslate }} : <span>{{consentForEndtbStudy}}</span></li>
            <li>{{"PATIENT_MONITORING_XRAY_AT_MDRTB_START" | titleTranslate }} : <span>{{baselineXRayStatus}}</span></li>
            <li>{{"PATIENT_MONITORING_HIV_STATUS" | titleTranslate }} : <span>{{hivStatus}}</span></li>
        </ul>
    </div>
</section>
<section class="patient-monitering-table" >
   <div class="rotate">
        <div class="legends">
            {{"PATIENT_MONITORING_LEGENDS" | titleTranslate }} : <span class="monitoring-legends">{{"PATIENT_MONITORING_CURRENT_MONTH" | titleTranslate}} </span>
            <span class="monitoring-legends monitoring-legends--stop">{{"PATIENT_MONITORING_END_OF_TREATMENT" | titleTranslate}} </span>
            <span ng-show="flowsheetConfig.trackPlanned" class="monitoring-legends monitoring-legends--yellow"> {{"PATIENT_MONITORING_PLANNED_MONITORING_SCHEDULE" | titleTranslate }} </span>
            <span class="monitoring-legends monitoring-legends--green"> {{"PATIENT_MONITORING_DATE_ADDED" | titleTranslate }} </span>
            <span ng-show="flowsheetConfig.trackPending" class="monitoring-legends monitoring-legends--purple">{{"PATIENT_MONITORING_PENDING_DATA_ENTRY" | titleTranslate }}</span>
        </div>
        <div class="monitoring-table-wrap">
            <div class="monitoring-table-scroll">
                <table>
                    <tr>
                        <th class="monitoring-fixed-column"></th>
                        <th ng-repeat="header in flowsheetHeader"
                            ng-class="{'monitoring-resultsCurrent': $index == highlightedCurrentColumnIndex, 'monitoring-resultsStop': $index == treatmentEndColumnIndex}">
                           <span title="{{header.startDate | bahmniDate}} - {{header.endDate | bahmniDate}}"> {{header.name}}</span>
                            <hint concept-details="header"/>
                        </th>
                    </tr>
                    <tr ng-repeat="(key, value) in flowsheetData">
                        <td class="monitoring-fixed-column">{{ key }}</td>
                        <td ng-repeat="data in value track by $index"
                            class="monitoring-results monitoring-results--{{data}}"
                            ng-class="{'monitoring-results--{{data}}Current': $index == highlightedCurrentColumnIndex, 'monitoring-results--{{data}}Stop': $index == treatmentEndColumnIndex}">
                            <span class="monitoring-results-print--green">&#10003;</span>
                            <span class="monitoring-results-print--yellow">&#8709;</span>
                            <span class="monitoring-results-print--purple">&#10007;</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
   </div>
</section>
